<div class="flex flex-col min-h-screen">
    <main class="flex-1">
        <div>
            <div class="header flex justify-center items-center">
                <h1 class="text-5xl">Radio</h1>
            </div>
            <div class="flex flex-col md:flex-row w-full max-w-4xl mx-auto space-y-6 md:space-y-0 md:space-x-8 p-10">
                <div class="flex justify-center">
                    <img src="assets/profile-radio.jpg"
                        class="object-contain rounded-sm max-w-[160px] md:max-w-[280px] lg:max-w-[280px]"
                        alt="Profile picture" />
                </div>
                <div class="md:text-left">
                    <p class="py-4">
                        I started my career as a journalist working for the radio, a good old-fashioned medium that
                        would become my favourite way of transmitting and consuming news and entertainment.
                        For four years I worked for the BBC, producing news and current affairs programmes in
                        Northern Ireland. There, I wrote broadcast scripts ready for transmission, researched stories
                        and interviewed talents, and reported live on air. I also produced and edited audio packages
                        for programmes of all genres.
                    </p>

                    <p class="py-4">
                        But radio didn't simply work for me. It became first and foremost a passion. In
                        my free time I joined a
                        <a class="underline decoration-dashed" href="https://www.drive105.co.uk/" target="_blank">
                            community station
                        </a>
                        where I initially produced and hosted a weekly three-hour music show. Later on, I curated,
                        produced,
                        and presented a 90mn-long specialist programme. This weekly meeting behind the mic quickly
                        became my favourite thing in the world.
                    </p>

                </div>

            </div>
            <div class="flex flex-row justify-center items-center">
                <div class="flex flex-col">
                    <div class="p-4">
                        <audio class="player" controls preload="none">
                            <source src="/audio/boom_hall_pkg.mp3" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                    <div class="p-4">
                        <audio class="player" controls preload="none">
                            <source src="/audio/cashless_jenny_pkg.mp3" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                    <div class="p-4">
                        <audio class="player" controls preload="none">
                            <source src="/audio/donegal_female_feedlers_bbc.mp3" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                </div>
                <div class="flex flex-col">
                    <div class="p-4">
                        <audio class="player" controls preload="none">
                            <source src="/audio/hawthorn_dumping_lane_pkg.mp3" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </div>


                    <div class="p-4">
                        <audio class="player" controls preload="none">
                            <source src="/audio/languages_vox2.mp3" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                    <div class="p-4">
                        <audio class="player" controls preload="none">
                            <source src="/audio/stag_w_bag.mp3" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                </div>
            </div>
        </div>
    </main>