<div>
    <div class="header flex justify-center items-center">
        <h1 class="text-5xl">Radio</h1>
    </div>
    <div class="flex outer-div pt-10">
        <div class="flex-row w-7xl items-center justify-center">
            <img src="assets/profile-radio.jpg" class="object-contain rounded-sm" alt="Profile picture" />
        </div>
        <div class="flex-row">
            <p class="p-4">
                As a music broadcaster, I produced and hosted a weekly three-hour music show for a the <a
                    class="underline" href="https://www.drive105.co.uk/" target="_blank">community
                    radio station Drive 105</a>. From January
                2020 until June 2022, I curated and produced a 90mn-long specialist programme.
            </p>
            <p class="p-4">
                As a journalist with BBC Northern Ireland, I produced news and current affairs programmes such as the
                Breakfast Show and <a class="underline" href="https://www.bbc.co.uk/programmes/b07l5tnx"
                    target="_blank">The Mark
                    Patterson Show</a>, writing broadcast scripts ready for transmission. I also
                researched stories and interviewed talents to produce audio packages that I edited for programmes of
                various genres.”
            </p>
            <p class="p-4">
                Commissioned by RTÉ, I had the opportunity to research stories and record audio packages and vox pops on
                issues occurring in Northern Ireland.
            </p>
        </div>
    </div>
</div>