<div>
    <div class="header flex justify-center items-center red">
        <h1 class="text-5xl">Radio</h1>
    </div>
    <div class="flex outer-div pt-10">
        <div class="flex-row w-7xl items-center justify-center">
            <img src="assets/profile-radio.jpg" class="object-contain rounded-sm" alt="Profile picture" />
        </div>
        <div class="flex-row">
            <p class="p-4">
                As a music broadcaster, I hosted a weekly three-hour music show for a the <a class="underline"
                    href="https://www.drive105.co.uk/" target="_blank">community
                    radio station Drive 105</a>. From January 2020 until June 2022, I curated and produced a 90mn-long
                programme.
            </p>
            <p class="p-4">
                As a freelance journalist With BBC Northern Ireland in the Mark Patterson Show, I produced radio
                coverage,
                writing broadcast scripts ready for delivery. I also researched stories, and recorded and edited
                audio packages for programmes of various genres.
            </p>
            <p class="p-4">
                Commissioned by RTé, I had the opportunity to research stories and record audio packages and vox pops on
                issues occurring in Northern Ireland.
            </p>
        </div>
    </div>
</div>