<div class="flex flex-col min-h-screen">
    <main class="flex-1">
        <div>
            <div class="header flex justify-center items-center">
                <h1 class="text-5xl">Video</h1>
            </div>
            <div class="outer-div p-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis a deleniti vel quia. Inventore,
                quibusdam
                magni est ex quaerat minima doloremque soluta et necessitatibus, error sunt molestiae, ad esse saepe.
            </div>

            <div class="flex flex-col w-full max-w-4xl mx-auto space-y-6 md:space-y-0 md:space-x-8 p-10 ">
                <div class="flex flex-col items-center md:text-left">
                    <p class="paragraph p-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores incidunt
                        inventore laboriosam porro ut in mollitia deserunt! Placeat, aperiam eveniet quis cupiditate
                        doloribus molestias numquam enim minima maiores adipisci sed.
                    </p>

                    <iframe class="items-center" width="560" height="315"
                        src="https://www.youtube.com/embed/OKlYwtZi418?si=qyvO0n2DXTWhpkEu" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <div class="flex flex-col items-center text-center">
                    <p class="paragraph p-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quis et
                        deleniti velit quia nulla tempore, esse quas atque iste laudantium quam officiis adipisci ipsa
                        non id facere voluptatem. Tenetur?
                    </p>
                    <iframe class="items-center" width="560" height="315"
                        src="https://www.youtube.com/embed/mRBQ6OaqdiQ?si=aowGdRuOEnhwvJHs" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <div class="flex flex-col items-center text-center">
                    <p class="paragraph p-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quis et
                        deleniti velit quia nulla tempore, esse quas atque iste laudantium quam officiis adipisci ipsa
                        non id facere voluptatem. Tenetur?
                    </p>
                    <iframe class="items-center" width="560" height="315"
                        src="https://www.youtube.com/embed/q_soBPKYvdo?si=GsRnBays6FHeQCNG" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </main>