<div>
    <div class="header flex justify-center items-center red">
        <h1 class="text-5xl">Video</h1>
    </div>
    <div class="outer-div p-4">
        Filming has always been a medium close to my heart, and I have been working with a camera for over 10 years,
        both professionally and in my personal time.
    </div>
    <div class="flex flex-col outer-div pt-10 ">
        <div class="flex flex-col items-center text-center">
            <p class="paragraph p-4">I edited this 'Untold Stories' video designed to capture the voices of the people
                of
                Derry, narrowing
                the
                broad notion of borders to
                more
                intimate and perhaps underserved ones.
            </p>

            <iframe class="items-center" width="560" height="315"
                src="https://www.youtube.com/embed/OKlYwtZi418?si=qyvO0n2DXTWhpkEu" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="flex flex-col items-center text-center">
            <p class="paragraph p-4">For this video, I produced, directed and edited a video clip for Derry
                singer-songwriter Noella
                Hutton.
            </p>
            <iframe class="items-center" width="560" height="315"
                src="https://www.youtube.com/embed/mRBQ6OaqdiQ?si=784_id798J0YacmL" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
</div>