<div class="outer-div">
  <div class="flex">
    <div class="flex-row w-7xl items-center justify-center">
      <img src="assets/profile-picture.jpg" class="rounded-full object-contain" alt="Profile picture" />
    </div>
    <div class="flex-row">
      <h1 class="font-normal text-7xl p-4">Marie Sauvé</h1>
      <h3 class="text-2xl p-4">Multimedia Journalist</h3>
      <p class="p-4">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt
        accusamus minima, ex dolore, dolor nihil odit veniam sint temporibus
        eligendi aliquid architecto! Quo cupiditate soluta id consectetur magnam
        aperiam harum!
      </p>
      <p class="p-4">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt
        accusamus minima, ex dolore, dolor nihil odit veniam sint temporibus
        eligendi aliquid architecto! Quo cupiditate soluta id consectetur magnam
        aperiam harum!
      </p>
      <p class="p-4">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt
        accusamus minima, ex dolore, dolor nihil odit veniam sint temporibus
        eligendi aliquid architecto! Quo cupiditate soluta id consectetur magnam
        aperiam harum!
      </p>
    </div>
  </div>
</div>